/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgba(192, 58, 84, 0.266);
}



#Cards:hover{
  transform:translateY(-15px);
  filter: opacity(.5);
  box-shadow: 0 12Px 16px rgba(0,0,0,0.2);
}
